@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(55 65 81);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(23 37 84);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(2 132 199);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
}